@media only screen and (max-width: 1000px)/* phones */ {

    .app-wrap .header
    {
        font-size: 2.5rem !important;
        padding-left: 6vw !important;
    }
    .app-wrap .content
    {
        padding-left: 6vw !important;
        padding-right: 6vw !important;
    }

    .app-wrap .info {
        width: 100% !important;

        font-size:0.8rem !important;
    }

    .app-wrap .info > div
    {
        border-bottom: none !important;
    }

    .app-wrap .content .result-container .text
    {
        width: 100% !important;
    }
}