.app-wrap .header div:first-of-type
{
  transition: 0.5s;
  color:white;

  cursor: pointer;
}
.app-wrap .header div:first-of-type:hover, .app-wrap .header div:first-of-type:focus
{
  color:var(--main-accents-color);
}

.app-wrap .content
{
  padding-left: var(--world-padding);
  padding-right: var(--world-padding);
}

.app-wrap .content .result-container
{
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-wrap .content .result-container .loader
{
  border: 0.3rem solid var(--main-font-color-2);
  border-top: 0.3rem solid var(--main-accents-color);

  border-radius: 100%;
  width: 20vh;
  height: 20vh;

  animation: spin 2s infinite;

  transition: opacity 1s ease-in-out;
  opacity: 0;
}

.app-wrap .content .result-container .text
{
  position: absolute;
  
  overflow-y: auto;

  width: 30%;
  min-height: 30vh;
  height: fit-content;

  display: flex;
  text-align: center;
  justify-content: center;

  text-overflow: ellipsis;
  white-space: pre-line;

  color:var(--main-font-color-2);

  margin-bottom: 1vh;

  overflow-y: hidden;
}

.app-wrap button
{
  margin-top: 5vh;
  transition: 0.4s ease;
  opacity: 0;
  font-size: 1.0rem;
  background-color: transparent;
  color:white;
  border:none;

  z-index: 10;

  padding:1vh 2vh 1vh 2vh;
  border-radius: 1vh;
}
.app-wrap button:hover
{
  background-color: rgba(0, 0, 0, 0.5);
  color:var(--main-accents-color);
}

.app-wrap button:focus
{
  border:0.1rem solid white;
}

@keyframes spin 
{
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}